{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <article class="message is-success">
        <div class="message-body">
            <p>{{ message }}</p>
        </div>
    </article>
{% endfor %}
    <div class="sixteen columns">
        <div class="four columns offset-by-six">
            <h1 class='title'>Login</h1>
            <br/>
            <form method="POST">
                <div class='field'>
                {{ form.hidden_tag() }}
                {{ form.username.label(class='label') }}
                {{ form.username(class='input') }}
                </div>
            <div class='field'>
                {{ form.password.label(class='label') }}
                {{ form.password(class='input') }}
            </div>
                <div class="field">
                {{ form.submit(class='button') }}
                </div>
            </form>
        </div>
    </div>
    <br/><br/>

{% endblock %}
